

header{
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa{                     /*Tamanho da div*/
    position: relative;
    width: 940px;
    margin: 0 auto; /*espaçameto interno para cima e para baixo seja zero mas para a direita e para esquerda ela se calcule automatimente*/

}

nav{
    position: absolute; 
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px; /*primeiro para o topo, depois para a direita, terceiro para baixo, por último para a esquerda*/
}

nav a{
    text-transform: uppercase; /*transformando o texto em letra maiuscula*/
    color: #000000;
    font-weight: bold; /* Fonte fica em negrito*/
    font-size: 22px;
    text-decoration: none; /* Remove a barra de baixo do limk*/
}

nav a:hover{ /* vai mudar assim que o usuario passar o mouse por cima*/
    color:#C78C19;
    text-decoration: underline; /*adiciona a barra de baixo do link*/
}

.produtos li:hover{
    border-color: #C78C19
}

.produtos li:active{ /* quando o botão do mouse estiver clincando */
    border-color:#088C19
}

.produtos li:hover h2{ /*quando o h2 e depois o mouse estiver por cima do li/produtos*/ 
    font-size: 34px;
}

.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top; /*alinha o conteudo pela a linha de cima*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*espaçameto lateral esteja dentro do width*/
    /*border-width: 5px;
    border-style: solid;
    border-color: #000000;*/
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao{
    font-size: 18px;
}

.preco-produto{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagens/bg.jpg);
    padding: 40px 0;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}

@media screen and (max-width: 480px) {

    .caixa, .produtos{
        width: auto;
    }

    h1{
        text-align: center;
    }

    nav{
        position: static;
        text-align: center;
        padding: 0 20px;
    }

    nav a{
        font-size: 18px;
    }

    .produtos li{
        display: inline;
        padding: 5px 0;
        border: none;
        margin: 5px;
        
       
    }
     
    .oi{
        margin: 10px 8px 10px 8px;
        border: 2px solid black;
        border-radius: 20px;
        padding: 5px 5px 5px 5px;
        

    }


     .produtos{
        padding: 2px;
    }
   
}